<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/productos/vista">Vista</a>
      <a class="nav-item nav-link" href="/productos/ingreso">Ingreso de productos y chat</a> 
    </div>
</nav>
<br>